@model IEnumerable<Tutorias.Models.Materia>
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}
<section>
    <div class="contenedorMaterias">
        <div class="container">
            @foreach (var item in Model)
            {
                <div class="card text-dark bg-light mb-3" style="max-width: 15rem;  max-height:12rem;">
                    <div class="card-header">@item.Materia1</div>
                    <div class="card-body">
                        <h5 class="card-title">@item.Clave</h5>
                        <div class="btn-group">
                            <a href="#" class="btn btn-light">
                                <i class="far fa-trash-alt"></i>
                            </a>
                            <a href="/editarMateria.html" class="btn btn-light">
                                <i class="fas fa-pen"></i>
                            </a>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

