
@{
    ViewData["Title"] = "RegistroMaestros";
    Layout = "_Layout";
}

<div class="formAgDoc bg-light align-lg-center mt-2 mx-auto mb-3">
    <div class="containerDatosPersonales">
        <h3 id="eDatosPersonales">Datos personales</h3>
    </div>

    <div class="container my-2 bg-light">
        <form class="bg-light">
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Numero de Control</span>
                </div>
                <input type="text" name="txtNumControl" id="txtNumControl" class="form-control" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nombre</span>
                </div>
                <input type="text" name="txtNombre" id="txtNombre" class="form-control" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Apellido Paterno</span>
                </div>
                <input type="text" name="txtApPaterno" id="txtApPaterno" class="form-control" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Apellido Materno</span>
                </div>
                <input type="text" name="txtApMaterno" id="txtApMaterno" class="form-control" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                </div>
                <input type="email" name="txtEmail" id="txtEmail" class="form-control" aria-describedby="basic-addon1">
            </div>

            @*<div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Contraseña</span>
                </div>
                <input type="password" name="txtContraseña" id="txtContraseña" class="form-control" aria-describedby="basic-addon1">
            </div>*@

            <button class="btn btn-secondary btn-md float-right mb-3" type="submit">Guardar</button>
        </form>
    </div>
</div>

