@model Tutorias.Models.Alumno
@inject Tutorias.Services.MenuService ms
@{
    ViewData["Title"] = "RegistroAlumnos";
    Layout = "_Layout";
}

<div class="formAgAlum bg-light align-lg-center | mt-2 mx-auto mb-3">
    <div class="containerDatosPersonales">
        <h3 id="eDatosPersonales">Datos personales</h3>
    </div>

    <div class="container my-2 bg-light">
        <form class="bg-light">
            <div class="input-group mb-3 ">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Numero de Control</span>
                </div>
                <input type="text" name="txtNumControl" id="txtNumControl" class="form-control" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nombre</span>
                </div>
                <input type="text" name="txtNombre" id="txtNombre" class="form-control" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Apellido Paterno</span>
                </div>
                <input type="text" name="txtApPaterno" id="txtApPaterno" class="form-control" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Apellido Materno</span>
                </div>
                <input type="text" name="txtApMaterno" id="txtApMaterno" class="form-control" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Semestre</span>
                </div>
                <select required asp-for="IdSemestre" name="IdSemestre" type="text" class="form-control" aria-label="Default select example">
                    @foreach (var item in ms.GetSemestres())
                    {
                        <option value="@item.Id">@item.NoSem</option>
                    }
                </select>
            </div>

            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Carrera</span>
                </div>
                <select required asp-for="IdCarrera" name="IdCarrera" type="text" class="form-control" aria-label="Default select example">
                    @foreach (var item in ms.GetCarreras())
                    {
                        <option value="@item.Id">Ing. @item.Carrera1</option>
                    }
                </select>
            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                </div>
                <input type="email" name="txtEmail" id="txtEmail" class="form-control" aria-describedby="basic-addon1">
            </div>

            @*<div class="input-group mb-3 w-100">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Contraseña</span>
                    </div>
                    <input type="password" name="txtContraseña" id="txtContraseña" class="form-control" aria-describedby="basic-addon1">
                </div>*@

            <button class="btn btn-secondary btn-md float-right | mb-3" id="btnGuardar" name="btnGuardar" type="submit">Guardar</button>
        </form>
    </div>
</div>

