@model Tutorias.Models.Alumnosmateria
@inject Tutorias.Services.MenuService ms
@{
    ViewData["Title"] = "AgregarMateria";
    Layout = "~/Views/Shared/_LayoutAlumno.cshtml";
}

<!--#######################  Header    #######################-->
<header class="cabecera">
    <div class="container">
        <h1> Agregar tu materia</h1>
    </div>
</header>

<!--#######################   Formulario para Agregar Materias   #######################-->
<div class="formAgMatAlum bg-light align-lg-center mt-2 mx-auto">

    <div class="container">
        <form>
            <input type="text" asp-for="IdAlumno" name="IdAlumno" id="txtIdAlumno" class="form-control" aria-describedby="basic-addon1" hidden>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Materia</span>
                </div>
                <select class="form-control" asp-for="IdMateria" name="IdMateria" type="text" aria-label="Default select example">
                   @foreach (var item in ms.GetMaterias())
                   {
                       <option value="@item.Clave">Ing. @item.Materia1</option>

                   }
                   </select>
            </div>




            <button class="btn btn-secondary btn-md float-right | mb-3" type="submit">Agregar</button>

        </form>

    </div>

</div>
